.box-layout {
  background: url('/images/bg.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-layout__box {
  background: fade-out(white, .15);
  border-radius: 10px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
}

.box-layout__title {
  color: $dark-blue;
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 $m-size 0;
  line-height: 1;
}